<html>
  <head>
    <title>About Page</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>This is the about page!</h1>
    <h2>I am <%=name%></h2>
    <%- include("footer/footer")%>
  </body>
</html>
